<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Authors List</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h1>Something went wrong!</h1>
		<h2>Our Engineers are on it</h2>
		<a class="btn btn-danger" href="/">Go Home</a>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>