<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book List</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h2>Books:</h2>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-responsive table-bordered .table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Publisher</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="book: ${books}">
							<td th:text="${book.id}" />
							<td th:text="${book.title}" />
							<td th:text="${book.publisher.name}" />

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>