<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body class="text-center">
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form class="form-signin" th:action="@{/login}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<div th:if="${param.error}">Invalid email and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<label for="inputEmail" class="sr-only">Email address</label> <input
				type="email" name="email" id="inputEmail" class="form-control"
				placeholder="Email" required /> <label for="inputPassword"
				class="sr-only">Password</label> <input type="password"
				name="password" id="inputPassword" class="form-control"
				placeholder="Password" required />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>
		<form class="form-signin" th:action="@{/signup}" method="get">
			<button class="btn btn-md btn-success btn-block" type="Submit">Signup
				Here</button>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>